<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>  
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let recipe of recipes">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4>{{ recipe.name }}</h4>
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div>
                        <img src="{{ recipe.imgPath }}" alt="" class="img-fluid" style="max-height: 50px">
                    </div>
                </div>
            </li>
          </ul>
    </div>
</div>

